# API
API_PORT=8000

# INMET
INMET_TOKEN=seu_token_aqui

# Mapbox (Etapa 1+)
NEXT_PUBLIC_MAPBOX_TOKEN=seu_token_aqui

# PostgreSQL (Etapa 2+)
POSTGRES_URL=postgresql://user:password@localhost:5432/rmr