# OS
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo

# Ambiente virtual
venv/
.venv/
env/

# Cache Python
__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.ruff_cache/
*.egg-info/
dist/

# Variáveis de ambiente
.env
.env.local
.env.production

# DuckDB
*.duckdb
*.duckdb.wal

# Dados brutos do pipeline
data/
include/data/
*.parquet
*.csv

# Dependências
node_modules/

# Build Next.js
.next/
out/
build/

# Cache
.cache/
.turbo/

# Tipos gerados
next-env.d.ts

# Tokens e chaves
*.pem
*.key
secrets.json

# Banco de dados local
*.duckdb
*.sqlite
*.db
*.tmp/

# Logs
*.log
logs/

# Airflow / Astronomer
airflow.db
airflow.cfg
.astro/
.dockerignore
airflow_settings.yaml
packages.txt
tests/dags/
dags/exampledag.py
include/pipeline/extract/scraper.log

# dbt
transform/target/
transform/dbt_packages/
transform/logs/